@import "../Layout/variables";

.projects-section {
  .skills-select {
    @media (min-width: 768px) {
      display:none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
    .select-container {
      width: 100%;
      border: 1px solid $primary;
      padding: 10px 25px;
      border-radius: 10px;
      display:flex;
      flex-direction: column;
      position: relative;
      z-index:1;
      &:after {
        content: 'ˆ';
        color: $primary;
        right: 20px;
        top: -7px;
        height: 34px;
        font-size:35px;
        transform: rotate(180deg) ;
        position: absolute;
        pointer-events: none;

      }
      select {
        width: 100%;
        z-index:10;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 15px;
        background: transparent;
        border:none;
        font-weight: bold;
        option {
          padding: 10px;
        }
      }
    }


  }
  .skills-list {
    @media (max-width: 768px) {
      display:none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;

    button {
      @media (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
      }
      @media (max-width: 768px) {
        padding: 0px;
        margin: 0px 35px 35px 0px;
      }
      font-weight: 600;
      font-family: Roboto-mono, monospace;
      font-size: 20px;
      span {
        opacity: 0;
      }

      &:hover span {
        opacity: 1;
      }

      .active-color {
        opacity: 1;
      }

    }
  }

  h4 {
    margin-left: 0px;
    margin-bottom: 2em;
    @media (max-width: 768px) {
      margin-bottom: 1em;
    }
    font-size: 20px;
  }

  .level-description {
    max-width: 25vw;
    @media (max-width: 768px) {
      max-width: 100%;
      line-height: 25px;
    }
    min-height: 150px;
  }

  .selected-tag-container {
    h4 {
      margin: 5px 100px 5px 0px;
      @media (max-width: 768px) {
        margin-right: 50px;
      }
      font-size: 25px;
    }
  }

  .projects-thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .project-thumb {
      display: flex;
      flex: 1 1 30vw;
      flex-direction: column;
      margin-right: 20px;
      margin-bottom: 20px;
      height: 25vh;
      background: $primary;
      border:none;
      position: relative;
      .background-image{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1;
      }
      .overlay{
        height: 25vh;
        flex:0 0 100% ;
        padding-left:36px;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        background: rgba(0,0,0,0.3);
        z-index:99;
        &:hover {
          background: rgba(0,0,0,0.1);
          cursor: pointer;
        }

        h5, h6 {
          z-index:100;
          width: 100%;
          margin: 5px;
          padding: 0px;
          display: flex;
          align-items: end;
          @media (max-width: 768px) {
            text-align: center;
            justify-content: center;
          }

        }

        h5 {
          font-size: 3.5vw;
          max-width: 90%;
          color: white;
        }

        h6 {
          font-family: Roboto-mono, monospace;
          color: white;
          font-size: 20px;
          font-weight: bold;
        }
      }
      @media (max-width: 768px) {
        flex: 1 1 90vw;
        margin-right: 10px;
        margin-bottom: 10px;
        .overlay  {
          padding-left:5px;
          h5 {
            font-size: 6vw;
            max-width: 95%;
          }

          h6 {
            font-size: 3vw;
          }
        }

      }
    }

  }
  .project-intro{

    h6 {
      max-width: 95%;
      margin: 0px;
      font-size: 20px;
      color: $primary;
      font-family: Roboto-mono, monospace;
    }
    p {
      strong {
        display: inline;
      }
      max-width: 20vw;
      margin-top:20px;
      margin-bottom:20px;
    }
    @media (max-width: 768px) {
      p {
        max-width: 100vw;
      }
    }
  }

  .project-detail {
    width: 100%;
    @media (max-width: 768px) {
      width: 95%;
      justify-self: center;
    }
   .project-header{
     margin-top:2vh;
     display:flex;
     justify-content: space-between;
     align-items: center;
     overflow: visible;
     h5 {
       font-size: 50px;

       @media (max-width: 768px) {
         font-size: 35px;
       }
       margin: 0px;
     }

   }


    strong {
      display: block;
      margin-bottom: 10px;
    }

    .project-description {
      margin-bottom: 10px;
      margin-top: 10px;
      ul {
        list-style: none; /* Remove default bullets */

        li {
          overflow: visible;
        }
      }

      ul li::before {
        content: "×";
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }

    .project-skills {
      overflow: visible;
      margin-bottom: 20px;

      strong {
        margin-right: 20px;
      }

      div {
        max-width: 40%;
        @media (max-width: 768px) {
          max-width: 100%;
        }
        span {
          display: inline-block;
          color: $dark-link;
          font-family: Roboto-mono, monospace;
          font-weight: bold;
        }
      }


    }
    .challenges-description {
      strong {
        color: $primary;
        font-weight: bold;
        margin-bottom: 30px;
      }
      li,ul {
        margin: 0px 0px 10px;
        padding: 0px;
      }
    }
    .slider-navigator{
      display: flex;
      flex-direction: row;
      flex-basis: 5%;
      align-items: start;
      justify-content: flex-end;
      width: 100%;
      height:50px;
      position: relative;
      overflow: visible;
      .button-wrapper{
        overflow: visible;
        display:flex;
        justify-content: flex-end;
      }
      button{
        display: flex;
        align-items: start;
      }
      @media (max-width: 768px) {
        margin-top:1em;

        flex-basis: 100%;
        .button-wrapper {
          width: 100%;
          justify-content: space-between;
        }
      }
      .close-button {
          margin-left: 60px;
          top:0;
          left:0;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
        span {
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
        @media (max-width: 768px) {
         span {
           margin-left: 0px;
           display: none;
         }
        }
        svg{
          margin-bottom:10px;
        }

      }
    }
  }


}
