@import "variables";
@import '~@animated-burgers/burger/dist/styles.css';
@import '~@animated-burgers/burger-slip/dist/styles.css';



@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);

  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
  0 -1px 0 $weight rgba($mix-sub-from, .25),
  1px 0 0 $weight rgba($mix-sub-to, .25),
  -1px 0 0 $weight  rgba($mix-sub-from, .25),
  1px -1px 0 $weight rgba($mix-main, .5),
  -1px 1px 0 $weight rgba($mix-main, .5),
  1px 1px 0 $weight rgba($to, .75),
  -1px -1px 0 $weight rgba($from, .75);
}


* {
  overflow: hidden; /* or auto */
  font-family: Roboto, serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.font-mono {
  font-family: Roboto Mono, monospace;
}

body.light{
  margin: 0;
  background: white;
  color: $bg-color;
  .default-bg {
    background: white;
  }
  .burger .burger-lines,
  .burger .burger-lines:after,
  .burger .burger-lines:before { background-color: $bg-color; }
  .svg-stroke-color{
    stroke:$bg-color;
  }
  select, option{
    color:$bg-color;
    background: white;
  }
  a, button, label {
    color : $light-link;
    font-weight: bold;
    &:hover{
      color: rgba(0,0,0,0.7);
    }
    &:active, &.active {
      color: rgba(0,0,0,1);
    }
  }
  input, textarea {
    color:$bg-color;
    border:none;
    min-height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    &::placeholder {
      color:$bg-color;
    }
    &:focus-visible,&:focus, &:active {
      border:none;
      border-bottom: 1px solid rgba(0,0,0,0.7);
    }
  }
  input:checked + label {
    color: rgba(0,0,0,1);
  }
  .reversed-colors {
    background: $bg-color;
    color: white;
  }
  .default-color{
    color: $bg-color;
    &:hover{
      color: $bg-color;
    }
  }
  .illustration svg path{
    fill: $bg-color;
  }
}

body.dark{
  background: $bg-color;
  color: white;
  .default-bg {
    background: $bg-color;
  }
  .burger .burger-lines,
  .burger .burger-lines:after,
  .burger .burger-lines:before { background-color: white; }
  .svg-stroke-color{
    stroke:white;
  }
  a, button, label {
    color : $dark-link;
    font-weight: bold;
    &:hover{
      color: rgba(255,255,255,0.7);
    }
    &:active, &.active {
      color: rgba(255,255,255,1);
    }
  }
  select, option{
    color:white;
    background: $bg-color;
  }
  input, textarea {
    color:white;
    border:none;
    min-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: $bg-color;
    &::placeholder {
      color:white;
    }
    &:focus-visible,&:focus, &:active {
      border:none;
      border-bottom: 1px solid rgba(255,255,255,0.7);
    }
  }
  input:checked + label {
    color: white;
  }
  .circle-border{
    border-color: white;
    .circle{
      background: white;
      border-color:white;
    }
  }
  .reversed-colors {
    color: $bg-color;
    background-color: white;
  }
  .default-color{
    color: white;
    &:hover{
      color: white;
    }
  }
  .illustration svg path{
    fill: white;
  }
}
.illustration{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .img-placeholder {

    img{
      width: auto;
      height: 480px;
    }
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

button{
  background: transparent;
  border: none;
}
.circle-border {
  border: 2px solid black;
  padding:0px;
  border-radius:50%;
  .circle{
    background: black;
    clip-path: inset(0 0 0 90%);
    height: 26px;
    transition: ease-in-out 0.5s;
    width: 26px;
    border: 1px solid black;
    border-radius:50%;
  }
  &:hover .circle{
    clip-path: inset(0 0 0 0);
  }
}
.reversed-colors {
  line-height: 27px;
}
.level-label {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  border: 1px $primary solid;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size:10px;
  width: 113px;
  text-align: center;
  margin: 5px 30px 5px 0px;
  max-height: 15px;
  &:hover {
     font-weight: bold;
    cursor: default;
  }
}

.beginner-level {
  border-color: $beginner-color;
}

.medium-level {
  border-color: $medium-color;
}

.advanced-level {
  border-color: $advanced-color;
}

.passionate-level {
  border-color: $passionate-color;
}

.beginner-color {
  color: $beginner-color;
}

.medium-color {
  color: $medium-color;
}

.advanced-color {
  color: $advanced-color;
}

.passionate-color {
  color: $passionate-color;
}
