.about-section{
    margin-top: 150px;
    display:flex;
    flex-direction: row;
    h3 {
        font-size: 40px;
        width: 100%;
        margin-bottom: 10px;
    }
    .about-email{
       font-weight: bold;
        text-decoration: none;
       &:hover {
           text-decoration: none;
       }
    }
  p {
    max-width: 25vw;
    @media (max-width: 768px) {
      max-width: 100vw;
    }
    a,strong{
      margin-right: 20px;
    }
  }
  .about-right{

    display:flex;
    align-content: space-between;

    div {
      span{
        width: 20%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
      }
      svg {
        display: flex;
        justify-content: center;
        @media (max-width: 768px) {
          width: 40px;
        }
      }
      flex:1;
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        p {
          max-width: 60vw;
        }
      }
    }
  }
}