@import "../Layout/variables";

.contact-section {
  margin-top: 150px;
  @media (max-width: 768px) {
    margin-top: 50px;

  }


  .checkboxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    flex: 1;
    width: 100%;
    margin-bottom: 3rem;

    div {
      overflow: visible;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 50px;
      margin-right: 50px;
      font-weight: 600;
      text-align: center;
      @media (max-width: 768px) {
        margin-left: 0px;
        margin-right: 0px;
      }
      input[type="checkbox"] {
        display: none;
      }


      label {
        font-family: Roboto-Mono, monospace;
        font-size:20px;
        &::before {
          opacity: 0;
          content: "+";
          color: $primary;
          left:-20px;
          position: relative;
        }


      }

      input:checked + label {

        &::before {
          opacity: 1;
        }
      }
    }

  }

  form {
    .input-group {
      input, textarea {
        display: block;
        width: 30vw;
        @media (max-width: 768px) {
          width: 100vw;
        }
        padding: 5px;

      }
      textarea {
        margin-top: 15px;
        min-height: 150px;
      }
    }
    button {
      display: flex;
      align-self: flex-end;
      margin-left: 20px;
      border-bottom: 1px solid $primary;
      cursor: pointer;
      @media (max-width: 768px) {
        margin-top:40px;
        margin-left: 0px;

      }
    }
  }
}